.mazeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid lightgray;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  height: fit-content;
}

.mazeGrid {
  display: grid;
  gap: 1px;
}

.cell {
  width: 20px;
  height: 20px;
}

.wall {
  background-color: #222;
}

.path {
  background-color: #eee;
}

.player {
  background-color: dodgerblue;
  border-radius: 50%;
}

.exit {
  background-color: green;
  border-radius: 50%;
}

.gem {
  background-color: gold;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px gold;
}
