.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  margin-bottom: 10px;
}

.win-message {
  color: green;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.score {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.maze-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
